/* backend styles */
.clear {clear: both;}
select.FilterSelect { width: 300px; }
#sortableFields {overflow: hidden; margin: 5px 0 10px 0; list-style: none; width: 95%;}
#sortableFields li { position: relative; color:#369; margin:0; padding:5px 5px 5px 10px; background:#d5e7fa; border-bottom:1px solid #96b0cb; cursor: pointer; font-size: 12px; border-top: 1px solid #fff; border-radius: 3px;}
#sortableFields li .sortableRightBlock { float: right; padding-right: 3px; }
.field_type_select { margin: 0 7px 0 0; font-size: 10px; position: absolute; right: 15px; top: 5px; width: auto !important; height: auto !important; padding: 0 !important; font-size: 12px; }
.deleteFilter { font-size: 11px; }
.form-horizontal .control-label { max-width: 160px; }
#module-form .btn-group .btn-success { background: #3fa800 !important; color: #fff !important; box-shadow: 0 1px 1px rgba(65,64,66,.14) !important; }

/* frontend styles */
/* moved to template folder */
